#hero .slider-logo img {min-width:300px;}
#hero .slider-logo  {padding-bottom:40px;}

#lasted-news, #values {padding:100px 0px;}

#lasted-news .section-title,
#values .section-title {text-align: center;}

#lasted-news .lastednews-summary {padding:10px 0px;}
#lasted-news .lastednews-item {padding-bottom:30px;}
#lasted-news .btn {position:absolute;bottom:0px;}

