h1, h2, h3, h4, h5 {
    color:#49525c;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

footer p {color:#bbb;}
footer a {color:#fff; text-decoration:none;}
footer a:hover {color:#bbb; text-decoration:underline;}
main a {color:#ff5512; text-decoration:none;}
main a:hover {color:#ff5512; text-decoration:underline  ;}
.accent-color-light, .hover-accent-color-light:hover {
    color: #ff5512;
}
.nested-links a {
    color: #ff5512;
    text-decoration: none;
}

#hero .hero-logo img {min-width:260px;}
#hero .hero-logo  {position:relative;padding-bottom:0px;}
#hero {
    /*background: url("../img/eosc-hero-photo-01.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position: 10% 0%;*/
    padding: 100px 0 180px 0;
    position: relative;
    height: calc(100vh - 87px);
    /*background-color: transparent!important;*/
}

#hero:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url("../img/eosc-hero-photo-01.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#hero:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}
#hero h2.hero-title {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 34px;
    line-height: 1.2em;
    letter-spacing: 0px;
    padding-bottom: 45px;
    text-transform: unset;
    position:relative;
}
#hero .hero-content {
    font-size: 23px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    position:relative;
}

.btn.btn-default {
    color: #fff;
    border: 0px;
    text-shadow: 0px 0px rgb(76,25,5);
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    background-image: unset;
    padding: 10px 30px;
    font-size: 14px;
    /*margin-top: 0px!important;*/
    width: auto;
    box-sizing: border-box!important;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 999px;
    background-color: rgb(255,85,18);
    height: auto;
    font-family: sans-serif;
    line-height: 1.1em;
}

.side-links  a {
    color: #fff;
    text-decoration: none;
    background-color: #ff5512;
    border-radius: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
}
.side-links  a:hover {
    color: #fff;
    background-color: #ff8057;
}

.hover-bg-gray:focus, .hover-bg-gray:hover {
    background-color: #aaa;
}

#logo-main-nav img {max-width:120px;}

#lasted-news, #values {padding:100px 0px;}

#lasted-news .section-title,
#values .section-title {text-align: center;}

#lasted-news .lastednews-summary {padding:10px 0px;}
#lasted-news .lastednews-item {padding-bottom:30px;}
#lasted-news .btn {position:absolute;bottom:0px;}

.bg-orange{background-color:rgb(255,85,18);}
.bg-primary-color-dark, .hover-bg-primary-color-dark:hover {background-color:#32383f!important;}
.bg-grey {background-color:#eee;}
.b--moon-gray {border-color: #ddd;}
/*.gray {color:#49525c;}*/
.primary-color{color:rgb(255,85,18);}
.dark {color:#333;}
.content-with-btn-bottom {padding-bottom:40px;position:relative;}
.content-with-btn-bottom .btn {position:absolute;bottom:0px;}

.title {font-family: 'Lato', sans-serif;}

.sans-serif {
    font-family: 'Open sans',
    avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
}

nav input#search-input {
    border: none;
    background-color: #49525c;
    padding: 10px 20px 10px 40px;
    color:#fff;
    background-position-x: 10px;
}
nav input#search-input::placeholder {color:#fff;}

.nav-top {
    border-bottom: 1px solid #49525c;
    background-color:#32383f;
}

.ml-auto {margin-left:auto!important;}



.github-top-btn {
    border-radius:50%;
    background-color:none;
    border:none;
    width: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;

}

.github-top-btn::before {
    font-size:44px!important;
}

.tool-logo {
    color: #49525c;
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.tool-logo a {
    color: #49525c;
    text-decoration:none;
}

.tool-logo a:hover {
    text-decoration:underline;
}


ul.li-custom {
    list-style-position: outside;
    padding-left:26px;

}

ul.li-custom li, nav ul li  {
    list-style:none;
}



ul.li-check li .fa, ul.li-check li .fas {
    font-weight: 900;
    position: absolute;
    left: -26px;
    top: 2px;
    color:#f05922;
}

li {position:relative;list-style:square;}

/*ul.li-square li:before {*/
    /*display: inline-block;*/
    /*font-family: "Font Awesome 5 Free";*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1.8em;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*content: "\f0c8";*/
    /*margin-right: 8px;*/
    /*color: #f05922;*/
    /*font-size: .5em;*/
    /*position: absolute;*/
    /*left: -20px;*/
    /*width: 0px;*/
    /*top: 1em;*/
    /*list-style-position: outside;*/
/*}*/

/*ul.li-check li::before {*/
    /*display: inline-block;*/
    /*font-family: FontAwesome;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*content: "\f00c";*/
    /*margin-right: 8px;*/
    /*color: #f05922;*/
    /*font-size: 18px;*/
    /*position: absolute;*/
    /*left: -30px;*/
    /*width: 0px;*/
    /*top: 5px;*/
/*}*/


.prose table th {
    background-color: #aaa;
    border-bottom: 1px solid #aaa;
    color: #fff;
    font-weight: 400;
    text-align: left;
    padding: .375em .5em;
}

.note, .warning {
    border-color: #f05922;
    background-color: #edeeee;
}

.admonition-content {
    background-color: #edeeee;
}

.prose table, article table {
    width: 100%;
    margin-bottom: 3em;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    border: 1px solid #ddd;
    background-color: #fff;
}

.prose table th, article table th {
      background-color: #57626f;
      border-bottom: 1px solid #768290;
      color: white;
      font-weight: 400;
      text-align: left;
      padding: .375em .5em;
  }

.prose table td, article table td, .prose table tc, article table tc {
            padding: .75em .5em;
            text-align: left;
            border-right: 1px solid #ddd;
        }


.prose table tr:nth-child(even), article table tr:nth-child(even) {
    background-color: #f7f7f7;
}





